<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YA101G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>TripServlet</servlet-name>
    <servlet-class>com.trip.controller.TripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripServlet</servlet-name>
    <url-pattern>/Trip/tripplan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TripServlet</servlet-name>
    <url-pattern>/Trip/route</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TripServlet</servlet-name>
    <url-pattern>/Mem/memRoute</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemPicReader</servlet-name>
    <servlet-class>com.mem.controller.MemPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemPicReader</servlet-name>
    <url-pattern>/mem/MemPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TravelServlet</servlet-name>
    <servlet-class>com.travel.controller.TravelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelServlet</servlet-name>
    <url-pattern>/travel/TravelServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForumsServlet</servlet-name>
    <servlet-class>com.forums.controller.ForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumsServlet</servlet-name>
    <url-pattern>/forums/ForumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>TrafficServlet</servlet-name>
	<servlet-class>com.traffic.controller.TrafficServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>TrafficServlet</servlet-name>
	<url-pattern>/traffic/traffic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TravelPicReader</servlet-name>
    <servlet-class>com.travel.controller.TravelPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelPicReader</servlet-name>
    <url-pattern>/travel/TravelPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrontSelectPage</servlet-name>
    <servlet-class>com.page.controller.FrontSelectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontSelectPage</servlet-name>
    <url-pattern>/tripame/FrontSelectPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackSelectPage</servlet-name>
    <servlet-class>com.page.controller.BackSelectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackSelectPage</servlet-name>
    <url-pattern>/tripame/BackSelectPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdsPicReader</servlet-name>
    <servlet-class>com.ad.controller.AdsPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsPicReader</servlet-name>
    <url-pattern>/ads/AdsPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecPicReader</servlet-name>
    <servlet-class>com.rec.controller.RecPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecPicReader</servlet-name>
    <url-pattern>/rec/RecPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpotList_Img</servlet-name>
    <servlet-class>com.spot.controller.SpotList_Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotList_Img</servlet-name>
    <url-pattern>/spot/SpotList_Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActList_Img</servlet-name>
    <servlet-class>com.activity.controller.ActList_Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActList_Img</servlet-name>
    <url-pattern>/act/ActList_Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecServlet</servlet-name>
    <servlet-class>com.rec.controller.RecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecServlet</servlet-name>
    <url-pattern>/rec/RecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/mem/MemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdsServlet</servlet-name>
    <servlet-class>com.ad.controller.AdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdsServlet</servlet-name>
    <url-pattern>/ads/AdsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrontSpot_Servlet</servlet-name>
    <servlet-class>com.spot.controller.FrontSpot_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontSpot_Servlet</servlet-name>
    <url-pattern>/spot/FrontSpot_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrontAct_Servlet</servlet-name>
    <servlet-class>com.activity.controller.FrontAct_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontAct_Servlet</servlet-name>
    <url-pattern>/act/FrontAct_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpotBoard_Servlet</servlet-name>
    <servlet-class>com.spotboard.controller.SpotBoard_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotBoard_Servlet</servlet-name>
    <url-pattern>/spotboard/SpotBoard_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test_DataSource</servlet-name>
    <servlet-class>TestDB.Test_DataSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_DataSource</servlet-name>
    <url-pattern>/Test_DataSource</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/Front/Mem/UpdateMem.jsp</url-pattern>
    <url-pattern>/Front/Mem/ForGetPw.jsp</url-pattern>
    <url-pattern>/Front/Mem/VerificationCode.jsp</url-pattern>
    <url-pattern>/Front/Ad/*</url-pattern>
    <url-pattern>/Front/Rec/*</url-pattern>
    <url-pattern>/Front/Trip/*</url-pattern>
    <url-pattern>/Front/MemTravel/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BackLoginFilter</filter-name>
    <filter-class>filters.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginFilter</filter-name>
    <url-pattern>/Back/Ad/*</url-pattern>
    <url-pattern>/Back/Rec/*</url-pattern>
    <url-pattern>/Back/Mem/*</url-pattern>
    <url-pattern>/Back/Travel/*</url-pattern>
    <url-pattern>/Back/Spot/*</url-pattern>
    <url-pattern>/Back/Spotboard/*</url-pattern>
    <url-pattern>/Back/Activity/*</url-pattern>
    <url-pattern>/Back/Forums/*</url-pattern>
    <url-pattern>/Back/Traffic/*</url-pattern>
    <url-pattern>/Back/Emp/AddNewEmp.jsp</url-pattern>
    <url-pattern>/Back/Emp/ListEmp.jsp</url-pattern>
    <url-pattern>/Back/Emp/UpdateEmp.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AdAuthFilter</filter-name>
    <filter-class>filters.AdAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdAuthFilter</filter-name>
    <url-pattern>/Back/Ad/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EmpAuthFilter</filter-name>
    <filter-class>filters.EmpAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmpAuthFilter</filter-name>
    <url-pattern>/Back/Emp/AddNewEmp.jsp</url-pattern>
    <url-pattern>/Back/Emp/ListEmp.jsp</url-pattern>
    <url-pattern>/Back/Emp/UpdateEmp.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MemAuthFilter</filter-name>
    <filter-class>filters.MemAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemAuthFilter</filter-name>
    <url-pattern>/Back/Mem/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>RecAuthFilter</filter-name>
    <filter-class>filters.RecAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RecAuthFilter</filter-name>
    <url-pattern>/Back/Rec/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>TravelAuthFilter</filter-name>
    <filter-class>filters.TravelAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TravelAuthFilter</filter-name>
    <url-pattern>/Back/Travel/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ActivityAuthFilter</filter-name>
    <filter-class>filters.ActivityAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ActivityAuthFilter</filter-name>
    <url-pattern>/Back/Activity/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>ForumsAuthFilter</filter-name>
    <filter-class>filters.ForumsAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ForumsAuthFilter</filter-name>
    <url-pattern>/Back/Forums/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SpotAuthFilter</filter-name>
    <filter-class>filters.SpotAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SpotAuthFilter</filter-name>
    <url-pattern>/Back/Spot/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>TrafficAuthFilter</filter-name>
    <filter-class>filters.TrafficAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TrafficAuthFilter</filter-name>
    <url-pattern>/Back/Traffic/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>